<mat-card>
  
<div *ngIf="loginFailed" class="alert alert-danger alert-dismissible fade show" role="alert">
  Login failed - wrong username or password
  <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  <div *ngIf="!loggedIn">
    <mat-form-field>
      <input matInput maxlength="25" placeholder="User Name" [(ngModel)]="userName" name="userName">
      {{ checkStatus }}
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="login()">Login</button>
    <p>Can't login? Possible reasons:</p>
    <ul>
    <li>Forgot Password? </li>
    <li> Don't have an account? You can register <a routerLink="/user/user-registration">HERE</a>!</li> </ul>
  </div>

  <div *ngIf="loggedIn">
    <button mat-flat-button color="warn" (click)="logout()">Logout</button>    
    <app-profile [user]="user"></app-profile>
  </div>
  
</mat-card>

 

