<mat-card>
  <div *ngIf="!LoggedInCheckerService.checkUserStatus()">
    <mat-form-field>
      <input matInput maxlength="25" placeholder="User Name" [(ngModel)]="userName" name="userName">
      {{ checkStatus }}
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="login()">Login</button>
    <p>Don't have an account? You can register <a routerLink="/user-registration">HERE</a>!</p>
  </div>

  <div *ngIf="LoggedInCheckerService.checkUserStatus()">
    <button mat-flat-button color="warn" (click)="logout()">Logout</button>
    You are currently logged in as {{ userName }}
  </div>
</mat-card>

<!--<mat-card>
  <button mat-flat-button color="primary" (click)="accessSecuredEndpoint()">Access Secure Endpoint (only for logged in users)</button>
  {{ secureEndpointResponse }}
</mat-card>-->
