.collection_page {
  text-align: center;
}

.total_products{
    color: black;
    font-family: "Roboto";
    font-size:medium;
}

.sort_by{
    color: black;
    font-family: "Roboto";
    font-size:medium;
    text-align: right;
}
.availability{
    color: black;
    font-family: "Roboto";
    font-size:medium;
    text-align: right;
}


.shop_now{
    width: 100%;
}

a:hover{
    font-weight: normal;
    
}



