<div class="collection_page">
    <h1>CURRENTLY ON CARTS</h1>
<hr class="hr">
    <nav class="navbar">
      <span class="total_products">TOTAL PRODUCTS: {{listOfProducts.length}}</span>
      <form class="form-inline my-2 my-lg-0">
        <mat-form-field>
          <input matInput placeholder="Search" [(ngModel)]="searchString" name="searchString">
        </mat-form-field>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click) ="onSearch()">Search</button>
      </form>
        <span class="single-filter">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Price
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-slider class="mat-form-field-wrapper" [min] = "1" [max] = "maxPrice" [step] ="priceStep" [(ngModel)]="price"></mat-slider> {{price}}
          </mat-expansion-panel>
        </span>
        <span class="single-filter">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Location
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field><input matInput placeholder="Location" [(ngModel)]="location" name="location"></mat-form-field>
          </mat-expansion-panel>
        </span>
        <span class="single-filter">          
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Delivery possible
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-checkbox class = "mat-form-field-wrapper" [(ngModel)]="deliveryPossible"></mat-checkbox> Yes
          </mat-expansion-panel>
        </span>
<!--      <span class="sort_by">SORT BY: DATE ADDED
        <img src="../../assets/down-arrow.png" width="25px" height="25px">
      </span>
      <span class="availability">AVILABILITY: MAIL DELIVERY
        <img src="../../assets/down-arrow.png" width="25px" height="25px">
      </span>-->
    </nav>

<hr class="hr">
<ng-container class="item-container" *ngFor="let product of listOfProducts | filter: price : location : deliveryPossible" >
  <a [routerLink]="['../display']" [queryParams]="{id: product.productId}">
  <div class="next-item" >
    <ng-container>
      <figure><img src="../../assets/Missing_Image.jpg" width="270px" height="200px">
      </figure>
    </ng-container>
    <div class="product_content">

    </div>
    <footer class="product_footer">
      <p class="product_title">{{product.title}}</p>
      <p class="product_price">{{product.price | currency: ' CHF '}}</p>
      <img src="../../assets/reviews.png" width="120px"> (15)
      <p class="added_by">Posted by: {{product.userName}}</p>
      <a [routerLink]="['../purchase']" [queryParams]="{id: product.productId}"><button class="shop_now" mat-flat-button color="primary">SHOP NOW</button></a>
    </footer>
  </div>
  </a>
</ng-container>

</div>


