<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="section-title">Product/Service Registration</h2>



            <form [formGroup]="productDetailsForm" (ngSubmit)="onSubmitProductDetails(productDetailsForm.value)">

              <mat-form-field>
                <mat-select placeholder="Type">
                  <mat-option *ngFor="let type of types" [value]="type">
                    {{type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="full-width">
                  <input matInput placeholder="Product / Service" formControlName="name" required>
                </mat-form-field>
              
                <mat-form-field class="full-width">
                  <input matInput placeholder="Price" formControlName="price" required>
                </mat-form-field>

                <mat-form-field>
                  <mat-select placeholder="Payment type">
                    <mat-option *ngFor="let paymentType of paymentTypes" [value]="paymentType">
                      {{paymentType}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-select placeholder="Payment Bases">
                    <mat-option *ngFor="let paymentBasis of paymentBases" [value]="paymentBasis">
                      {{paymentBasis}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>



                <mat-form-field class="full-width">
                  <input matInput placeholder="Description" formControlName="description" required>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <input matInput placeholder="Location" formControlName="location" required>
                </mat-form-field>

<!--                <mat-form-field class="full-width">
                  <mat-checkbox>
                    Delivery possible
                  </mat-checkbox>
                </mat-form-field>-->


                <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!productDetailsForm.valid">
                  Register Product/Service
                </button>
            </form>
        </div>
    </div>
</div>
