<link rel="stylesheet" type="text/css" href="product-display.component.css">
<div class="temp-cont">
    <div class="left-product">
        <div class="pictures">
            <img src="../../../assets/Missing_Image.jpg">
        </div>  
        <hr>
        <div class="details">
            <p><b>Product description:</b></p>
            <p>{{product.description}}</p>
        </div>
        <hr>
        <div class="question">
            <p><b>Questions and answers:</b></p>
            <input type="text" id="fname" name="question" class="input-question">
            <span class="post-question"><button type="submit" class="btn btn-outline-dark">Post question</button></span>
            <hr>
        </div>
        <div class="other-info">
            <p><b>More information:</b></p>
            <p>Item number: {{product.productId}}</p>
            <hr>
        </div>
    </div>
    <div class="right-info">
        <p>{{product.title}}</p>
        <hr>
        <p><b>Price:</b> {{product.price}}</p>
        <button type="button" class="btn btn-outline-dark">Buy</button>
        <hr>
        <p>{{shipping}}</p>
        <p><b>Seller:</b> User Name for the User that posted this product</p>
    </div>
</div>
