<link rel="stylesheet" type="text/css" href="product-display.component.css">
<div class="temp-cont">
    <div class="left-product">
        <div class="pictures">
            <img src="../../../assets/Missing_Image.jpg">
        </div>  
        <hr>
        <div class="details">
            <p><b>Product description:</b></p>
            <p>{{product.description}}</p>
        </div>
        <hr>
       
        <div class="question">
            <p><b>Comments:</b></p>
            <!--<form [formGroup]="commentAdditionForm" (ngSubmit)="onSubmitCommentDetails(commentAdditionForm.value)">-->
          <mat-form-field>
            <input matInput placeholder="Comment" name="comment" [(ngModel)]="comment">
          </mat-form-field>
              
              <span class="post-comment"><button type="submit" class="btn btn-outline-dark" (click)="onSubmitCommentDetails()">Post a comment</button></span>
            
        <hr />
            <div class="comment next-item" *ngFor="let comment of listOfComments">
                    <p class="comment-content">
                        {{comment.comment}}
                    </p>
            </div>
            <hr>
            <!--</form>-->
        </div>
        <div class="other-info">
            <p><b>More information:</b></p>
            <p>Location: {{product.location}}</p>
            <hr>
        </div>
    </div>
    <div class="right-info">
        <p>{{product.title}}</p>
        <hr>
        <p><b>Price:</b> {{product.price}}</p>
        <a [routerLink]="['../purchase']" [queryParams]="{id: product.productId}"><button type="button" class="btn btn-outline-dark">Buy</button></a>
        <hr>
        <p>{{shipping}}</p>
        <p><b>Seller:</b> {{product.userName}}</p>
    </div>
</div>
