<div *ngFor ="let notification of notifications">
    <div class="next-item" role="alert">
        <h3>{{notification.transaction.productTitle}} was sold to {{notification.transaction.buyerUserName}}!</h3>

        <div *ngIf="notification.transaction.payFreq==='Hourly' || notification.transaction.payFreq==='Daily'">
          Duration: {{notification.transaction.time}} {{notification.transaction.payFreq==='Hourly' ? 'hours' : 'days' }}
        </div>
        
      <div *ngIf="!!notification.transaction.messageToSeller">
          <h3>Message from the buyer:</h3>
          <div class="panel">
            {{notification.transaction.messageToSeller}}
          </div>
        
        <br />
          <br />
      </div>
      <div *ngIf="notification.transaction.delivery">
          <h3 style="padding-top:10px;font-weight:bold">Shipping Info:</h3>
          <p>{{notification.transaction.buyerFirstName}} {{notification.transaction.buyerLastName}}<br />
          {{notification.transaction.buyerStreet}} <br />
          {{notification.transaction.buyerZip}} {{notification.transaction.buyerCity}} <br />
          {{notification.transaction.buyerCountry}}</p>
      </div>

    <a routerLink="../../product/product-modification" [queryParams]="{id: notification.transaction.productId}">
      <button class="submit-btn" color="primary" mat-raised-button>
         Edit or delete {{notification.transaction.productTitle}}
      </button>
      </a>
        <button  class="submit-btn" color="warn" mat-raised-button type="submit" (click)="onDeleteNotification(notification)">
          Delete Notification
        </button>
  </div>
</div>
