<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="specificationForm">
    <form [formGroup]="specificationForm">
      <ng-template matStepLabel>Order details</ng-template>
      <div  *ngIf ="timeBased">
        <h3>For how many {{hourly ? 'hours' : 'days' }} do you want to book the {{product.productType}}?</h3>
        
      <mat-form-field>
        <mat-label>Duration</mat-label>
        <input matInput type="number" placeholder="0" formControlName="time" required>
      </mat-form-field>
      </div>
      <br>
      <h3>
        Total Price: {{ totalPrice }}
      </h3>
      <div>
        Your current saldo: {{buyer.wallet}}
        <br />
        <br />
      </div>
      <div *ngIf="purchaseDenied" class="alert alert-danger alert-dismissible fade show" role="alert">
        Your saldo is too small!
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
        <button color="primary" mat-raised-button matStepperNext [disabled]="purchaseDenied">Purchase Product</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="checkoutForm" label="Fill in your address">
    <form [formGroup]="checkoutForm">
      
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstname" [placeholder]="buyer.firstName" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastname" [placeholder]="buyer.lastName" required>
      </mat-form-field>
      <br>
      <mat-form-field *ngIf="product.delivery">
        <mat-label>Street</mat-label>
        <input matInput formControlName="street" [placeholder]="buyer.street" required>
      </mat-form-field>
      <br>
      <mat-form-field *ngIf="product.delivery">
        <mat-label>ZIP Code</mat-label>
        <input matInput type="number" formControlName="zip" [placeholder]="buyer.zip" required>
      </mat-form-field>
      <mat-form-field *ngIf="product.delivery">
        <mat-label>City</mat-label>
        <input matInput formControlName="city" [placeholder]="buyer.city" required>
      </mat-form-field>
      <br>
      <mat-form-field *ngIf="product.delivery">
        <mat-label>Country</mat-label>
        <input matInput formControlName="country" [placeholder]="buyer.country" required>
      </mat-form-field>

      <mat-form-field class="textbox-full-width">
        <mat-label>Message to the seller</mat-label>
        <textarea matInput placeholder="Message" formControlName="message"></textarea>
      </mat-form-field>

      <div>
        <button mat-button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-button mat-raised-button color="primary" matStepperNext (click)="uponConfirmOrder()" [disabled]="purchaseDenied">Confirm Order</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <a routerLink="../browse"><button mat-button mat-raised-button color="primary" >Continue Shopping</button></a>
      <a routerLink="../user/user-login"><button mat-button mat-raised-button color="primary" >Logout</button></a>
    </div>
  </mat-step>
</mat-horizontal-stepper>
