<div class="container">
  
<!--<h1>Admin Panel</h1>-->

  <div class="card next-item" *ngFor="let product of listOfProducts">
<div class="card-header">
      <p class="product_title">       
          {{product.title}}
      </p>
    <div class="buttons">
      <button class="submit-btn" color="primary" mat-raised-button type="button" (click) ="onApproveProduct(product.productId)">Approve</button>
      <button class="submit-btn" color="warn" mat-raised-button type="button" (click) ="onDisapproveProduct(product.productId)">Disapprove</button>
    </div>
    </div>

<div class="product_footer">
        
      <p>Type: {{product.productType}}</p>
      <p>Price: {{product.price | currency: ' CHF '}}</p>
      <p>Payment: {{product.payFreq}}</p>
      <p>Description: {{product.description}}</p>
      <p>Location: {{product.location}}</p>
      <p>Delivery:    <mat-checkbox class="checkbox" [value]="product.delivery" disabled ="true"></mat-checkbox></p>
      <p>Posted by: {{product.userName}}</p>

      </div>
    </div>
</div>
  
