@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
.navbar{
    background: rgb(252, 243, 207);
    /*background: linear-gradient(90deg, rgba(63,81,181,1) 0%, rgba(130,63,181,1) 100%);*/
    color: black;
    flex-wrap: wrap;
    box-shadow: 0px 5px 5px gray;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    margin-bottom: 20px;
}

.ProfileImage{
    padding: 6px;
    font-family: "Roboto";
    font-size: x-small;
    line-height: 150%;
}

.CartImage{
    
    font-size: x-small;
    padding: 6px;
    padding-right: 0px;
    font-family: "Roboto";
    line-height: 150%;
}

.LogoImage{
    position: relative;
    padding-right: -10px;
    margin-right: -10px;
}
.navbar-brand{
   padding-top: 20px;
   margin-right: 40px;
}

.SearchButton{
    background-color:rgb(252, 243, 207);
    padding:unset;
}


.profileImage{
    font-size: x-small;
    padding-top: 30px;
    font-family: "Roboto";
}

.SearchImage{
    padding-bottom: 2px;
    margin: unset;
    
}

.nav-item{
    color: black;
    font-family: "Roboto";
    font-size:medium;
    padding-top: 4px;
    padding-left: 10px;
  
}
