<map name="workmap">
  <area shape="rect" href="../user-login">
</map>

<mat-toolbar class="toolbarClass">
<mat-toolbar-row>
  <span class="MenuItem1">
    <a routerLink="/product/product-registration">SELL/LEND </a>
    <img src="../../assets/down-arrow.png" width="25px" height="25px"></span>
    <span class="MenuItem2">
      RENT
      <img src="../../assets/down-arrow.png" width="25px" height="25px"></span>
      <span class="MenuItem3">
        LEARN MORE
        <img src="../../assets/down-arrow.png" width="25px" height="25px"></span>
<span class="LogoImage"><img  src="../../assets/Logo.png" width="63px" height="50px"></span>
  <span class="Website_title">ARTs</span>
  <span class="search">
    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <button id="button-addon2" type="submit" class="btn btn-link text-warning"><img  src="../../assets/search.png"  width="25px" height="25px"><i class="fa fa-search"></i></button>
        
        <input type="search" size="10" placeholder="Search here" aria-describedby="button-addon2" class="form-control border-0 bg-light">
      </div>
      </div>
    </div>
   <!-- <input type="text" placeholder="Search store..." size=10 height="20px" width="10px">-->
  </span>
  <span class="SearchImage">
    <!--<button  class="SearchButton"type="button" width="40px" height="40px">
    <img  src="../assets/search.png" width="35px" height="35px"></button>-->
    
  </span>
  <span class="ProfileImage">
    <img src="../../assets/profile.png" width="30px" height="30px">
    <br>
    <a *ngIf="!loggedIn" routerLink="/user/user-login" routerLinkActive="active-link">LOGIN </a>
    
    <a *ngIf="loggedIn" routerLink="/user/user-login" routerLinkActive="active-link">PROFILE</a> 
    </span>
    
    <span class="CartImage">
      <img src="../../assets/cart.png" width="30px" height="30px"><br><a routerLink="/profile" routerLinkActive="active-link">CART </a></span>
    
    
          
          
</mat-toolbar-row>
</mat-toolbar>
