<map name="workmap">
  <area shape="rect" href="../user-login">
</map>

<nav class="navbar navbar-expand-lg navbar-light">
  <span class="LogoImage"><img  src="../../assets/Logo.png" width="63px" height="50px">
    <a routerLink="/browse" class="navbar-brand">ARTs</a>
  </span>
    
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a routerLink="/browse">BROWSE</a>
            </li>
            <li class="nav-item">
              <a routerLink="/product/product-registration">SELL/LEND </a>
            </li>
            <li class="nav-item">
              <a routerLink="/browse">LEARN MORE</a>
            </li>
        </ul>
    </div>


<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<span class="ProfileImage">
   <img src="../../assets/profile.png" width="30px" height="30px">
    <br>
    <a *ngIf="!loggedIn" routerLink="/user/user-login" routerLinkActive="active-link">LOGIN </a>
    
    <a *ngIf="loggedIn" routerLink="/user/user-login" routerLinkActive="active-link">PROFILE</a> 
</span>
    
<span class="CartImage">
   <img src="../../assets/cart.png" width="30px" height="30px"><br><a routerLink="/profile" routerLinkActive="active-link">CART </a>
</span>
</nav>
