@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
.toolbarClass{
    background: rgb(252, 243, 207);
    /*background: linear-gradient(90deg, rgba(63,81,181,1) 0%, rgba(130,63,181,1) 100%);*/
    color: black;
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    box-shadow: 0px 5px 5px gray;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.LogoImage{
     padding-left: 450px;
}
.ProfileImage{
    /*position: absolute;*/
   padding-left: 15px;
    /*padding-bottom: 15px;*/
    padding-top: 6px;
    font-family: "Roboto";
    font-size: x-small;
    line-height: 150%;
}

.CartImage{
    /*position: absolute;*/
    /*padding-left: 1465px;*/
    
    padding-left: 15px;
    font-size: x-small;
    padding-top: 6px;
    font-family: "Roboto";
    line-height: 150%;
}

.search{
   /* position:absolute;*/
    padding-left:280px;
    padding-top: 23px;
}

.input-group{
    width:230px;
}
.SearchButton{
    background-color:rgb(252, 243, 207);
    padding:unset;
}

.CartsLetters{
    position: absolute;
    padding-left: 750px;
}

.profile{
    position: absolute;
    padding-left: 1415px;
    font-size: x-small;
    padding-top: 30px;
    font-family: "Roboto";
}
.SearchImage{
    position: absolute;
    padding-left: 1338px;
    padding-bottom: 2px;
    margin: unset;
    
}

.form-control{
    padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.MenuItem1{
    /*position: absolute;*/
    /*padding-left: 95px;*/
    color: black;
    font-family: "Roboto";
    font-size:medium;
    padding-top: 4px;
  
}
.MenuItem2{
   /* position: absolute;*/
    padding-left: 15px;
    color: black;
    font-family: "Roboto";
    font-size:medium;
    padding-top: 4px;
}
.MenuItem3{
    /*position: absolute;*/
    padding-left: 15px;
    color: black;
    font-family: "Roboto";
    font-size:medium;
    padding-top: 4px;
}
