<div class="container">
  
<h1>Admin Panel</h1>

  <div class="card" *ngFor="let product of listOfProducts">
<div class="card-header">
      <h2 class="mb-6">       
          {{product.title}}
      </h2>
    <div class="mb-6">
      <button class="submit-btn" color="primary" mat-raised-button type="button" (click) ="onApproveProduct(product.productId)">Approve</button>
      <button class="submit-btn" color="warn" mat-raised-button type="button" (click) ="onDisapproveProduct(product.productId)">Disapprove</button>
    </div>
    </div>

<div class="card-body">
        
      <p>Type: {{product.productType}}</p>
      <p>Price: {{product.price | currency: ' CHF '}}</p>
      <p>Payment: {{product.payFreq}}</p>
      <p>Description: {{product.description}}</p>
      <p>Location: {{product.location}}</p>
      <p>Delivery:    <mat-checkbox [value]="product.delivery" disabled ="true"></mat-checkbox></p>
      <p>Posted by: {{product.userName}}</p>

      </div>
    </div>
</div>
  
