<div class="profile_page" >
    <div class="menu">
         <div class="logout-button">
          <button mat-flat-button  color="warn" (click)="logout()">Logout</button>    
        </div>
        <img class="profile_logo" src="../../assets/profile.png" width="140px" height="140px">
        <span class="title"><b>{{user.userName}}'s Dashboard</b></span>
        
        

        <br><br>
        <mat-tab-group class="user_menu">
            <mat-tab label="Requests">
              <ng-template matTabContent><app-purchase-requests></app-purchase-requests></ng-template></mat-tab>
             <mat-tab label="Notifications">
              <ng-template matTabContent><app-user-notifications></app-user-notifications></ng-template>
            </mat-tab>          
            <mat-tab label="My Activities"><ng-template matTabContent><app-activity-log></app-activity-log></ng-template></mat-tab>
            <mat-tab label="Currently selling"><ng-template matTabContent><app-products-by-user></app-products-by-user></ng-template></mat-tab>
            <mat-tab label="My Profile"><ng-template matTabContent><app-user-information></app-user-information></ng-template></mat-tab>
            <mat-tab *ngIf="isAdmin" label="Admin Dashboard"><ng-template matTabContent><app-admin-dashboard></app-admin-dashboard></ng-template></mat-tab>
            
            
        </mat-tab-group>
    </div>
</div>
